In [ ]:
val = 1

if val > 5:
    print("val is bigger than 5")

In [ ]:
val = 1

if val > 5:
    print("test")
    
print("val is bigger than 5")

In [ ]:
money = 1000

if money > 100:
    item = "apple"
else:
    item = "banana"
    
print(item)

In [ ]:
score = int(input(('Input Score: ')))

if 90 <= score <= 100:
    grade = 'A'
elif 80 <= score < 90:
    grade = "B"
elif 70 <= score < 80:
    grade = "C"
elif 60 <= score < 70:
    grade = "D"
else:
    grade = "F"
    
print("점수 통보! 등급 = " + grade)

In [14]:
# 수학, 영어, 국사 시험을 봤다.
# 각각의 점수를 입력하여 토탈 평균이 60점 미만이며
# 또한 각 과목의 점수들이 50점 미만인 경우에도 탈락 처리를 하도록 한다.

mathScore = float(input(('수학 Score:')))
englishScore = float(input(('영어 Score:')))
historyScore = float(input(('국사 Score:')))

total = (int)(mathScore + englishScore + historyScore) / 3

if mathScore < 50:
    isPass = "과락 탈락"
elif englishScore < 50:
    isPass = "과락 탈락"
elif historyScore < 50:
    isPass = "과락 탈락"
else: isPass = ""
print(total)
    
if total < 60:
    isPassAvg = "평균 60점미만 탈락"
else: isPassAvg = "통과" 

print("합격여부 : " + isPassAvg + isPass)

수학 Score:50
영어 Score:80
국사 Score:90
73.33333333333333
합격여부 : 통과

In [15]:
# hashmap
score = dict(his = 1, eng = 1, math = 1)
subject = ["수학", "영어", "역사"]
result = 1
total = 1

for value in score.keys():
    score[value] = int(input((subject.pop()+"점수 : ")))
    
for isPass in score.values():
    total += isPass
    if isPass < 50:
        result = 0
        
totalR = total / 3

if result == 0:
    print("과락")
elif totalR < 60:
    print("평균 미달")
else: print("통과")

역사점수 : 80
영어점수 : 6
수학점수 : 70
과락

In [7]:
val = 5

while val > 0:
    print(val)
    val -= 1

5
4
3
2
1

In [8]:
lists = ['Apple', 100, 15.33]

for i in lists:
    print(i, type(i))

Apple <class 'str'>
100 <class 'int'>
15.33 <class 'float'>

In [9]:
numList = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for i in numList:
    if i > 5:
        break
    print("item: {0}".format(i))

item: 1
item: 2
item: 3
item: 4
item: 5

In [10]:
for i in numList:
    if i % 2 == 0:
        continue
    print("item: {0}".format(i))

item: 1
item: 3
item: 5
item: 7
item: 9

In [13]:
# range_num = range(10)
# range_list = list(range_num)
# print(range_list)

print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
print(list(range(5,10)))

[5, 6, 7, 8, 9]

In [17]:
print(list(range(10, 0, -1)))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [18]:
print(list(range(10, 20, 2)))

[10, 12, 14, 16, 18]

In [19]:
print(list(range(1, 11)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [27]:
strList = ["Apple", "Orange", "Grape", "Banana"]

for i in range(len(strList)):
#     java의 %d같은느낌
    print("idx: {0}, val: {1}".format(i, strList[i]))

idx: 0, val: Apple
idx: 1, val: Orange
idx: 2, val: Grape
idx: 3, val: Banana

In [23]:
varList = [100, 33.7, "Grape"]

for i in enumerate(varList):
    print(i)

(0, 100)
(1, 33.7)
(2, 'Grape')

In [25]:
numList1 = [3, 4, 5]
numList2 = [1.5, -0.5, 4]

print([x * y for x in numList1 for y in numList2])

[4.5, -1.5, 12, 6.0, -2.0, 16, 7.5, -2.5, 20]